<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{#if (mastodonAccount)}}
      <link rel="me" href="{{ mastodonAccount }}" />
    {{/if}}
    <link rel="alternate" type="application/atom+xml" href="{{{feedUrl}}}" />
    <title>{{title}} | {{siteName}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/8eaf209c-2fa9-4353-9b99-e8d8f3a5f8d4/postmarks-touch-icon-180.png?v=1693611327251" />
    <link rel="shortcut icon" href="https://cdn.glitch.global/8eaf209c-2fa9-4353-9b99-e8d8f3a5f8d4/postmarks-favicon.ico?v=1693611323474" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="/">
          <img src="/postmarks-logo-small.png" />
          {{siteName}}
        </a>
      </div>
      <div class="menu">
        <a href="/about">About</a>
        <a href="/search">Search</a>
        {{#if loggedIn}}
          <a href="/network">Network</a>
          <a href="/bookmark/new">Add</a>
          <a href="/admin">Admin</a>
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </div>
    </div>
    <div class="wrapper">
      <div class="content" role="main">
        {{^if hideTitle}}
          <h1>{{title}}</h1>
        {{/if}}
        {{{body}}}
      </div>
      {{#if adminLinks}}
        {{> admin_subnav links=adminLinks currentPath=currentPath}}
      {{else}}
        {{> tag_list tags=tags}}
      {{/if}}
    </div>
    <footer class="footer">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/search">Search</a>
      {{#if loggedIn}}
        <a href="/network">Network</a>
        <a href="/bookmark/new">Add</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      <div class="btn-section">
        <a class="btn--feed" href="{{{feedUrl}}}" target="_blank">
        <img src="/feed-icon.png" alt="feed-icon">
      </a>
         <a class="btn--github" href="https://github.com/ckolderup/postmarks" target="_blank">
        <img src="/github-icon.svg" alt="github-icon">
      </a>
      <a class="btn--remix" target="_top" href="https://glitch.new/github.com/ckolderup/postmarks">
        <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140" alt="" />
        Remix on Glitch
      </a>
      </div>
    </footer>
    {{{_sections.script}}}
  </body>
</html>
