<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{title}} | {{siteName}}</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

  </head>

  <body>
    <div class="header">
      <div class="logo"><img src="/postmarks-logo-small.png" /></div>
      <div class="title">
        <h1><a href="/">{{siteName}}</a></h1>
      </div>
    </div>
    <div class="content" role="main">
      <h2>{{title}}</h2>
      {{{body}}}
    </div>
    {{{_sections.script}}}
  </body>
</html>
