{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}
  <h3>Mass upload bookmarks</h3>
  <p>
    Input a collection of URLs, one on each line.
    They'll all be imported and given a title and description where possible.
    You can go and edit them each individually afterwards to add tags, different descriptions, etc.<br/>
    <b>Note:</b> These won't post as ActivityPub Notes! This is just to quickly seed a set of bookmarks.
    If you'll want comments on these, you'll have to update them individually.
  </p>
  <form action="/bookmark/multiadd" method="post">
    <textarea name="urls"></textarea>
    <button type="submit">Import</button>
  </form>
  <h3>
    Set global permissions
  </h3>
  <form action="/admin/permissions" method="post">
    <label> Auto-allow comments from (one username per line)</label><br>
    <textarea name="allowed">{{allowed}}</textarea><br><br>
    <label> Auto-ignore comments from (one username per line)</label><br>
    <textarea name="blocked">{{blocked}}</textarea>
    <button type="submit">Save</button>
  </form>
  <h3>
    Bookmarklet
  </h3>
  <p>
    You can use this bookmarklet to quickly add bookmarks around the web! Create a new bookmark in your browser's bookmarks toolbar, then edit the URL for that bookmark and insert this javascript:
  </p>
  <input readonly type="text" id="copy-bookmarklet" value={{{bookmarklet}}} />
  <p><small id="copy-status">Click the code above to copy</small></p>
  <h3>
    Download bookmarks
  </h3>
  <p>
    You can download your bookmarks sqlite db <a href="/admin/bookmarks.db">here</a>.
  </p>
  <p>
    It's less likely you'll need this, but you can also download your activitypub.db <a href="/admin/activitypub.db">here</a>.
  </p>

  <form action="/admin/reset" method="post">
    <h3>
      Delete all bookmarks
    </h3>
    <p>
      Delete all the bookmarks only if you are completely sure!
      These cannot be recovered.
    </p>
    <button type="submit">Clear bookmarks</button>
  </form>
{{/if}}
<script>
document.addEventListener(
  'click',
  function (event) {
    // Only fire if the target has id copy
    if (!event.target.matches('#copy-bookmarklet')) return;

    if (!navigator.clipboard) {
      // Clipboard API not available
      return;
    }
    const text = event.target.value;
    try {
      navigator.clipboard.writeText(text);
      document.getElementById('copy-status').innerText = 'Copied to clipboard!';
      setTimeout(function () {
        document.getElementById('copy-status').innerText = 'Click the code above to copy it to your clipboard';
      }, 1500);
    } catch (err) {
      console.error('Failed to copy!', err);
    }
  },
  false
);
</script>
