<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
   <title>{{feedTitle}}</title>
   <subtitle>{{TODO}}</subtitle>
   <link rel="self" href="{{projectUrl}}/index.xml"/>
   <id>{{projectUrl}}</id>
   <updated>{{last_updated}}</updated>
   <author>
      <name>{{account}}</name>
   </author>
   <rights>{{TODO}}</rights>

   {{#each bookmarks }}
     <entry>
      <title>{{title}}</title>
      <link rel="alternate" href="{{url}}"/>
      <id>{{projectUrl}}/bookmark/{{id}}</id>
      <updated>{{created_at}}</updated>
      <summary type="html">{{description}}</summary>
      {{#each tag_array}}
      <category term="{{this}}" scheme="postmarks:tag" />
      {{/each}}
   </entry>
  {{/each}}
</feed>
