<div class="edit-bookmark">
  <form
    action="/bookmark/{{bookmark.id}}?ephemeral={{ephemeral}}"
    method="POST"
  >
    <div class="form-group">
      <label for="bookmark_url">
        URL
      </label>
      <input
        id="bookmark_url"
        type="url"
        name="url"
        value="{{bookmark.url}}"
        required
        aria-required="true"
      />
    </div>
    <div class="form-group">
      <label for="bookmark_title">
        Title
      </label>
      <input
        id="bookmark_title"
        type="text"
        name="title"
        value="{{bookmark.title}}"
      />
    </div>
    <div class="form-group">
      <label for="bookmark_description">
        Description
      </label>
      <textarea
        id="bookmark_description"
        name="description"
      >{{bookmark.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="tagEntry">
        Tags
        <small>
          press tab to autocomplete, press comma or enter to save a new tag.
        </small>
      </label>
      <input
        id="tagEntry"
        type="text"
        list="all-tags"
      />
      <div id="taggedList"></div>
      <p>
        <small>
          click on a tag above to remove it
        </small>
      </p>
      <input
        type="hidden"
        id="tags"
        name="tags"
        value="{{{bookmark.tagsArray}}}"
      />
    </div>
    <details class="form-group">
      <summary>
        <label for="bookmark_allowed">
          Auto-allow comments from (one username per line)
        </label>
      </summary>
      <textarea
        id="bookmark_allowed"
        name="allowed"
      >{{allowed}}</textarea>
    </details>
    <details class="form-group">
      <summary>
        <label for="bookmark_blocked">
          Auto-ignore comments from (one username per line)
        </label>
      </summary>
      <textarea
        id="bookmark_blocked"
        name="blocked"
      >{{blocked}}</textarea>
    </details>
    <div class="form-group">
      <button type="submit">
        {{#if bookmark}}
          Save
        {{else}}
          Create
        {{/if}}
      </button>
    </div>
  </form>
</div>
