<div class="bookmark">
  <div class="headline">
    <a href="{{bookmark.url}}">{{bookmark.title}}</a>
  </div>
  <div class="subhead">
    <span title="{{bookmark.created_at}}">{{bookmark.timestamp}}</span> •
    {{bookmark.domain}}
  </div>
  <div class="description">
    {{{htmlize bookmark.description}}}
  </div>
  <div class="tags">
    {{#each bookmark.linkedTags}}{{{this}}} {{/each}}
  </div>
  <div class="bottom">
    {{#if bookmark.comment_count includeZero=true}}
      <a href="/bookmark/{{bookmark.id}}">
        {{bookmark.comment_count}} {{pluralize bookmark.comment_count 'comment' 'comments'}}
      </a>
    {{/if}}
    {{#if @root.loggedIn}}
    {{#if bookmark.comment_count includeZero=true}}
    •
    {{/if}}
    {{/if}}
    {{#if @root.loggedIn}}
      <a href="/bookmark/{{bookmark.id}}/edit">edit</a>
    {{/if}}
  </div>
</div>
