<div class="bookmark">
  {{^if permalink}}
    <div class="headline">
      <a href="{{bookmark.url}}">
        {{bookmark.title}}
      </a>
    </div>
  {{/if}}
  <div class="subhead">
    {{#if permalink}}
      <span class="bookmark-date" title="{{bookmark.created_at}}">
        {{bookmark.timestamp}}
      </span>
    {{else}}
      <a href="/bookmark/{{bookmark.id}}" class="bookmark-date" title="{{bookmark.created_at}}">
        {{bookmark.timestamp}}
      </a>
    {{/if}}
    <span class="bookmark-domain">
      {{bookmark.domain}}
    </span>
  </div>
  <div class="description">
    {{{htmlize bookmark.description}}}
  </div>
  <div class="tags">
    {{#if tagged}}
      {{#each bookmark.tagNames}}
        {{#ifIn this @root.pathTags}}
          <span class="tag tag-disabled">
            #{{this}}
            {{^ifThisTag this @root.path}}
              <a href="{{removeTag this @root.path}}" class="tag-op tag-remove">
                -
              </a>
            {{/ifThisTag}}
          </span>
        {{else}}
          <span class="tag">
            <a href="/tagged/{{this}}">#{{this}}</a>
            <a href="{{@root.path}}/{{this}}" class="tag-op tag-add">
              +
            </a>
          </span>
        {{/ifIn}}
      {{/each}}
    {{else}}
      {{#each bookmark.tagNames}}
        <span class="tag">
          <a href="/tagged/{{this}}">
            #{{this}}
          </a>
        </span>
      {{/each}}
    {{/if}}
  </div>
  <div class="bottom">
    {{^if permalink}}
      {{#if bookmark.comment_count}}
        <span>
          <a href="/bookmark/{{bookmark.id}}">
            {{bookmark.comment_count}}
            {{pluralize bookmark.comment_count "comment" "comments"}}
          </a>
        </span>
      {{/if}}
    {{/if}}
    {{#if @root.loggedIn}}
      <span>
        <a href="/bookmark/{{bookmark.id}}/edit">
          edit
        </a>
      </span>
    {{/if}}
  </div>
</div>
