<div class="bookmark">
  <div class="headline">
    <a href="{{bookmark.url}}">{{bookmark.title}}</a>
  </div>
  <div class="subhead">
    <span title="{{bookmark.created_at}}">{{bookmark.timestamp}}</span>
    •
    {{bookmark.domain}}
  </div>
  <div class="description">
    {{{htmlize bookmark.description}}}
  </div>
  <div class="tags">
    {{#if tagged }}
      {{#each bookmark.tagNames}}
          {{#ifIn this @root.pathTags~}}
            <span class="tag tag-disabled">#{{this}}
            {{~#ifThisTag this @root.path }}
            {{~else}}&nbsp;<a href="{{removeTag this @root.path}}" class="tag-op tag-remove">-</a>
            {{/ifThisTag~}}
            </span>
          {{else~}}
            <span class="tag"><a href="/tagged/{{this}}">#{{this}}</a>&nbsp;<a href="{{@root.path}}/{{this}}" class="tag-op tag-add">+</a></span>
          {{/ifIn}}
        {{/each}}
    {{else}}
      {{#each bookmark.tagNames}}
        <span class="tag"><a href="/tagged/{{this}}">#{{this}}</a></span>
      {{/each}}
    {{/if}}
  </div>
  <div class="bottom">
    {{#if bookmark.comment_count includeZero=true}}
      <a href="/bookmark/{{bookmark.id}}">
        {{bookmark.comment_count}}
        {{pluralize bookmark.comment_count "comment" "comments"}}
      </a>
    {{/if}}
    {{#if @root.loggedIn}}
      {{#if bookmark.comment_count includeZero=true}}
        •
      {{/if}}
    {{/if}}
    {{#if @root.loggedIn}}
      <a href="/bookmark/{{bookmark.id}}/edit">edit</a>
    {{/if}}
  </div>
</div>
