<h3>
  Set global permissions
</h3>
<p>
  You can set permissions here for specific users to always be allowed to, or
  blocked from, commenting on posts. Note that the same controls are allowed on
  a per-bookmark setting on the bookmark edit page.
</p>
<form action="/admin/permissions" method="post">
  <label> Auto-allow comments from (one username per line)</label><br />
  <textarea name="allowed">{{allowed}}</textarea><br /><br />
  <label> Auto-ignore comments from (one username per line)</label><br />
  <textarea name="blocked">{{blocked}}</textarea>
  <button type="submit">Save</button>
</form>

<h3>
  Followers
</h3>

<div class="followers">
  {{#each followers}}
    <div class="follower">
      <div class="info">
        <a href="{{this}}">{{this}}</a>
      </div>
      <div class="actions">
        <form action="/admin/followers/block" method="POST">
          <input type="hidden" name="actor" value="{{this}}" />
          <button type="submit">Block</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>

<h3>
  Blocked Users
</h3>

<div class="blocks">
  {{#each blocks}}
    <div class="block">
      <div class="info">
        <a href="{{this}}">{{this}}</a>
      </div>
      <div class="actions">
        <form action="/admin/followers/unblock" method="POST">
          <input type="hidden" name="actor" value="{{this}}" />
          <button type="submit">Unblock</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>
